<p id="notice"><%= notice %></p>

<%= hidden_field_tag "room_id", @room.id, { :id => "room_id" } %>

<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>


<h2>Messages</h2>
<div class="messages">
  <%= render @room.messages %>
</div>

<%= render 'messages/new', post: @room %>



<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
