<!DOCTYPE html>
<html>
  <head>
    <title>ActionCablePlay</title>
    <%= csrf_meta_tags %>

    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <article>
        <h1>Awesome ChatRoom</h1>
      </article>
      <aside>Hello <strong id="current_user"><%= "#{current_user}" %></strong></aside>
    </header>

    <div class="document">
      <%= yield %>
    </div>
  </body>
</html>
